.catalog {
  padding-right: 30px;
  padding-left: 30px;

  @media(min-width: @width-tablet) {
    padding-right: 50px;
    padding-left: 50px;
  }

  @media(min-width: @width-desktop) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}