
.knitting__text {
  margin: 0;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  line-height: 24px;

  @media(min-width: @width-tablet) {
    margin-top:74px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  @media(min-width: @width-desktop) {
    margin-top: 124px;
    padding-left: 225px;
    padding-right: 225px;
  }
}

.knitting__form {
  width: 100%;
  // margin-top: 32px;

  // @media(min-width: @width-tablet) {
  //   margin-top: 60px;
  // }
}